In [3]:
import pandas as pd
import os

In [6]:
dataset = os.path.join('..', 'data', 'all_semcog_data_07-28-17.h5')
store = pd.HDFStore(dataset)

In [10]:
refiner = store['refiner_events']

In [15]:
refiner.loc[(refiner.year == 2016) & (refiner.action == 'add')]

,agent_expression,location_capacity_attribute,location_expression,amount,year,action,transaction_id,agents
refinement_id,,,,,,,,
2,sector_id==11,NaN,building_id==8029457,700,2016,add,1,jobs
5,sector_id==5,NaN,parcel_id==1274092,280,2016,add,2,jobs
6,sector_id==9,NaN,building_id==8029457,60,2016,add,1,jobs
7,sector_id==9,NaN,building_id==8029457,150,2016,add,1,jobs
8,sector_id==11,NaN,building_id==2578010,150,2016,add,3,jobs
10,sector_id==3,NaN,parcel_id==2001468,75,2016,add,4,jobs
15,sector_id==6,NaN,parcel_id==2111904,220,2016,add,7,jobs
17,sector_id==5,NaN,building_id==3920819,150,2016,add,8,jobs
18,sector_id==5,NaN,parcel_id==2243667,150,2016,add,9,jobs
19,sector_id==5,NaN,building_id==4916947,150,2016,add,10,jobs
23,sector_id==4,NaN,building_id==8915526,140,2016,add,13,jobs
24,sector_id==5,NaN,building_id==8915540,320,2016,add,14,jobs
26,sector_id==9,NaN,building_id==8028510,170,2016,add,15,jobs
30,sector_id==10,NaN,building_id==3170849,300,2016,add,18,jobs
32,sector_id==3,NaN,building_id==2498853,170,2016,add,19,jobs
35,sector_id==10,NaN,building_id==3348158,300,2016,add,22,jobs
48,sector_id==10,NaN,building_id==1205217,40,2016,add,31,jobs
52,sector_id==10,NaN,building_id==4060093,700,2016,add,35,jobs
54,sector_id==5,NaN,building_id==1208313,85,2016,add,36,jobs
58,sector_id==10,NaN,building_id==2900434,60,2016,add,38,jobs
63,sector_id==10,NaN,building_id==8028510,20,2016,add,40,jobs
64,sector_id==10,NaN,building_id==2111600,100,2016,add,41,jobs
68,sector_id==5,NaN,building_id==2080327,70,2016,add,42,jobs
71,sector_id==10,NaN,building_id==8028510,40,2016,add,43,jobs
73,sector_id==10,NaN,building_id==2923433,700,2016,add,44,jobs
76,sector_id==10,NaN,building_id==8031799,140,2016,add,46,jobs
77,sector_id==10,NaN,building_id==2131514,200,2016,add,47,jobs
78,sector_id==16,NaN,building_id==2121954,75,2016,add,48,jobs
80,sector_id==3,NaN,building_id==1012723,103,2016,add,49,jobs
89,sector_id==10,NaN,building_id==2104393,260,2016,add,56,jobs
92,sector_id==11,NaN,building_id==2105775,50,2016,add,57,jobs
93,sector_id==8,NaN,building_id==4129207,100,2016,add,58,jobs
96,sector_id==3,NaN,building_id==2101840,450,2016,add,59,jobs
100,sector_id==10,NaN,building_id==2900767,75,2016,add,60,jobs
116,sector_id==3,NaN,building_id==7046421,140,2016,add,65,jobs
128,sector_id==10,NaN,building_id==2104393,325,2016,add,71,jobs